body{
  background-color: rgba(197,198,203,1);
  width: 1000px;
  margin: 0px auto;
}
.name , .first{
  text-align: center;
  padding: 20px;
}
.button{
  text-align: center;
}
ul{
  text-align: center;
}
li{
  text-align: center;
  padding: 50px;
  list-style: none;
}
a{
  border-style: solid;
  padding: 20px 150px;
  }
.story{
  border-style: solid;
  text-align: center;
}
h1 , h2 , h3{
  text-align: center;
}
