* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


nav {
    display: flex;
    font-family: 'Chelsea Market', sans-serif;
    /* https://developer.mozilla.org/zh-CN/docs/Web/CSS/justify-content */
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    background-color: yellowgreen;
}

.logo {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 16px;
}

.burger {
    display: none;
}

.burger div {
    background-color: white;
    width: 25px;
    height: 5px;
    margin: 5px;
}

@media screen and (max-width:1024px) {
    .nav-links {
        width: 50%;
    }
}

@media screen and (max-width:800px) {
    body {
        overflow: hidden;
    }

    .nav-links {
        position: absolute;
        top: 8vh;
        right: 0px;
        height: 92vh;
        background-color: yellowgreen;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navlinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }

}